/*
FONTS
*/

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AntennaCond-Bold';
  src: url('../fonts/AntennaCond-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AntennaCond-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AntennaCond-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AntennaCond-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AntennaCond-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AntennaCond-Regular';
  src: url('../fonts/AntennaCond-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AntennaCond-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AntennaCond-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AntennaCond-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AntennaCond-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/*
OVERIDES
*/
    
/*
Colours
    #1b7cff - blue
    #00d8b2 - green
    #efefef - grey (background)
	#484e5d - silver
    #090a0a - black (text)
    #ddd    - light grey (text muted)
    #F86465 - coral pink
*/

body {
    font-family: "Montserrat-Regular",sans-serif;

}

a:hover {
    color: #484e5d;
}

/* Buttons */
.btn {
    font-family: 'Montserrat-Bold', sans-serif;
    border-radius: 0px;  
    border: none; 
}

.btn-lg {
    line-height: 2.233333;
    font-size: 18.46px;
}

.btn-primary {
    background-color: #1b7cff;
    color: #fff;
	-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.btn-info {
    background: transparent;
    border: 2px solid #1b7cff;
    color: #1b7cff;
    margin-top: 40px;
    margin-bottom: 40px; 
	-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;  
}

.btn-info:hover {
    background: #484e5d;
}

.btn-success {
    background-color: #00d8b2;
	-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
} 
/* Buttons */

/* Typography */
h1 {
    margin-top: 80px;
    font-family: 'AntennaCond-Bold', sans-serif;
    color: #1b7cff;
	margin-bottom: 20px;
}

h2 {
    font-family: 'AntennaCond-Bold', sans-serif;
    color: #1b7cff;
}

h3 {
    font-size: 28px;
    font-family: 'AntennaCond-Bold', sans-serif;
    color: #1b7cff;
}

.text-primary {
    color: #090a0a;
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
}

.text-primary-reverse {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
}

.text-info {
    color: #090a0a;
    font-size: 16px;
    line-height: 28px;
}

.text-muted {
    font-size: 16px;
    line-height: 26px;
    color: #ddd;
}

/* Typography */

/* Modal Popup */
	
.modal {
  top: 40px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom: 0px;
}

/* Modal Popup */

/* Navigation */
.navbar {
    background-color: #fff;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #1b7cff;
    font-weight: lighter;
    border-radius: 0;
    padding: 10px 50px 10px 50px;
}

.navbar .fa {
    color: #000;
}

.navbar-brand {
    font-family: 'AntennaCond-Bold', sans-serif;
    font-size: 30px;
    color: #1b7bff;
}

.nav>li>a {
    padding: 15px 10px;
    color: #1b7bff;
}
.nav>li>a:hover {
    color: #484e5d;
}
.icon-bar {
    background-color: none;
	margin-top:50px;
	margin-bottom:50px;
}

@media (min-width: 768px) {
    #navbar {

        float: right;
    }
}

/* Navigation */

/* Jumbotron */

.jumbotron {
    padding-top: 80px;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 690px;
}
    
.jumbotron .h1, .jumbotron h1 {
    font-size: 46px;
    line-height: 50px;
    margin-top: 20px;
    color: #1b7cff;
    font-family: 'AntennaCond-Bold', sans-serif;
}

.jumbotron span {
    line-height: 40px;
}

.bbe-awesome-image {
    background: url('../images/awsome_image.jpg') no-repeat;
        background-position: 50% 45%;
    background-size: cover;
}

/* Jumbotron */

/* CTA Build more awesome */
.high-velocity {
    background-color: #efefef;
}

.high-velocity .text-primary {
    color: #090a0a;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.cta {
    background-color: #1b7cff;
    min-height: 60px;
    color: #fff;
}

.cta .bbe-cta-title {
    margin-right: 12px;
}

.high-velocity .row:first {
    height: 100%;
}
/* CTA Build more awesome */

/* High velocity */

.bbe-high-velocity {
    margin-bottom: 80px;   
}

.bbe-thumbnail {
        height: 187px;
    width: 292px;  
}


.img-technology {
    background: url('../images/tech-icon.jpg') no-repeat top center #fafafa;
}

.img-technology:hover {
    background: url('../images/tech-icon.jpg') no-repeat bottom center #1d7bff;
}

.img-methodology {
    background: url('../images/method-icon.jpg') no-repeat top center #fafafa;
	border-left: 1px solid #ddd;
}

.img-methodology:hover {
    background: url('../images/method-icon.jpg') no-repeat bottom center #1d7bff;
	border-left: 1px solid #ddd;
}

.img-infrastructure {
    background: url('../images/infa-icon.jpg') no-repeat top center #fafafa;
	border-left: 1px solid #ddd;
}

.img-infrastructure:hover {
    background: url('../images/infa-icon.jpg') no-repeat bottom center #1d7bff;
	border-left: 1px solid #ddd;
}

.img-culture {
    background: url('../images/culture-icon.png') no-repeat top center #f7f7f7;
	border-left: 1px solid #ddd;
}

.img-culture:hover {
    background: url('../images/culture-icon.png') no-repeat bottom center #1d7bff;
	border-left: 1px solid #ddd;
}

.bbe-high-velocity-content {
    display: none;
}

.bbe-high-velocity .technology .bbe-high-velocity-technology,
.bbe-high-velocity .methodology .bbe-high-velocity-methodology,
.bbe-high-velocity .infrastructure .bbe-high-velocity-infrastructure,
.bbe-high-velocity .culture .bbe-high-velocity-culture {
    display: block;
}

.technology .bbe-thumbnail {
    float: left;
}

/* High velocity */

.high-velocity .btn-lg {
    border: 2px solid #F86465;
    color: #F86465;
}


/* Earth Quote */

.bbe-earth-image {
    background: url('../images/earth_image.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 690px;
    background-attachment: fixed;
}

.bbe-earth-image h1 {
    color: #fff;
    font-size: 36px;
    margin-top: 130px;
}

/* Earth Quote */

/* Our Team */
.bbe-team {
    margin-bottom: 180px;
}

.bbe-team h3 {
    margin-top: 35px;
    font-size: 20px;
}

.bbe-team .bbe-team-para2 {
    margin-top: 60px;
}
.bbe-team .bbe-team-cta {
    background-color: #00d8b2;
	height: 263px;
    width: 263px;
}

.bbe-team-cta img{
	display: block;
    margin: 0px auto;
}

.bbe-team-cta .btn {
    background-color: #00d8b2;
}

.bbe-team .text-info {
    margin-bottom: 35px;
}

.bbe-team h4 {
    font-size: 16px;
    color: #888888;
}

.bbe-team .fa {
    color: #1b7cff;
}

.bbe-team .btn-lg {
	width: 100%;
	height: 263px;
    padding-top: 45%;
}
/* Our Team */

/* Client logos */
.bbe-client-logo .bbe-client-title {
    background-color: #1b7cff;
    height: 278px;
    width: 30%;
}

.bbe-client-logo .bbe-client-title h3 {
     font-size: 20px;
    line-height: 1.5;
     color: #fff;  
     padding-top: 42px;
}

.bbe-client-title .btn-lg {
    border: 2px solid #fff;
    color: #fff;
    margin-bottom: 50px;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    margin-top: 45px;
}

.owl-theme .owl-controls .owl-page span{background: #ffffff;}

.bbe-container {
    height: 278px;
	background-color: #f96566;
    width: 100%;
}

/*.bbe-client-logo .bbe-logos {
    overflow-x: auto;
    padding-top: 62px;
}*/

.bbe-logos {
    position: relative;
    min-height: 200px;
}


#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 70%;
  height: auto;
}

.carousel {
    width: 70%;
    float: right;
}

/*.bbe-logos .item {
    position: absolute;
}*/

/* Client logos */

/* Our work */

.bbe-our-work {
    margin-bottom: 80px;
}

.bbe-our-work .btn-info {
    border: #F86465 2px solid;
    color: #F86465;
}

/* Our work */

/* Awesome technology */




.bbe-awesome-technology .bbe-awesome-technology-banner {
    background-color: #1b7cff;
    color: #fff;
}

.bbe-awesome-technology .bbe-awesome-technology-banner div {
  //  padding-bottom: 40px;
    right: 0;
    padding: 0;
    width: 100%;

}

.bbe-awesome-technology .bbe-awesome-technology-banner h1,
.bbe-awesome-technology .bbe-awesome-technology-banner p {
    color: #fff;
}

.bbe-awesome-technology .bbe-awesome-technology-banner h1 {
    margin-top: 40px;       
}

.bbe-awesome-technology .col-sm-4:nth-child(odd) {
    background-color: #efefef;
}

.bbe-awesome-technology .row {
    display: table;
}

.bbe-awesome-technology [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding: 0 70px 50px;
}


/* Awesome technology */

/* Latest news */

.bbe-latest-news {
    margin-bottom: 80px;
}

.bbe-latest-news .bbe-news {
    background-color: #efefef; 
}

.bbe-latest-news h1 {
    margin-bottom: 50px;
}

.bbe-news-content h4 {
    font-size: 14px;
}

.bbe-news-content p.text-primary {
    font-size: 20px;
}

.bbe-news-content p.text-info {
    font-size: 14px;
}

.bbe-post-meta{
	width: 100%;
    display: block;
    float: left;
	background-color: #efefef;
}

.bbe-latest-news .bbe-news-image-1 {
    background: url('../images/newsimages.jpg') no-repeat -10px 0px;
    height: 243px;
}

.bbe-latest-news .bbe-news-image-2 {
    background: url('../images/newsimages.jpg') no-repeat -415px 0px;
    height: 243px;
}

.bbe-latest-news .bbe-news-image-3 {
    background: url('../images/newsimages.jpg') no-repeat -812px 0px;
    height: 243px;
}

.bbe-news-content {
    padding: 20px;
}

.bbe-news-date {
    line-height: 5;
    padding-left: 20px;
}

.bbe-latest-news .text-muted {
    font-size: 11px;
	color: #919191;
	text-align:center;
	    width: 50%;
}

/* Latest news */

.bbe-footer {
    background-color: #090a0a;
    padding: 40px 0px;
}

.bbe-footer .text-muted {
    font-size: 14px;
}

.bbe-footer-base {
    min-height: 40px;
    background-color: #333;
    color: #fff;
    padding-top: 10px;
}

.bbe-footer h5 {
    color: #DDDDDD;
}

/* Modal Form */

.bbe-form-popup .modal-content {
    background-color: #1b7cff;
}

.bbe-form-popup h2,
.bbe-form-popup p,
.bbe-form-popup a,
.bbe-form-popup span {
    color: #fff;
}

.bbe-form-popup .form-group {
    margin-top: 20px;
}

.bbe-form-popup .form-control {
    border-radius: 0;   
}

.bbe-form-popup .input-lg {
    height: 60px;
    color: #1b7cff; 
    font-weight: bold;
    margin: 7px 0;
}

.bbe-form-popup span.text-primary {
    color: #fff;
    padding-top: 20px;
    font-weight: bold;
}

.bbe-form-popup .bbe-form-message {
    padding-top: 20px;
}

.bbe-form-popup .form-control::-webkit-input-placeholder { color: #1b7cff; font-weight: bold; }
.bbe-form-popup .form-control:-moz-placeholder { color: #1b7cff; font-weight: bold; }
.bbe-form-popup .form-control::-moz-placeholder { color: #1b7cff; font-weight: bold;}
.bbe-form-popup .form-control:-ms-input-placeholder { color: #1b7cff; font-weight: bold;}
/* Modal Form */


@media (max-width: 1024px){
	.bbe-latest-news .text-muted {
    font-size: 11px;
    color: #919191;
    text-align: center;
    width: 100%;
}
.btn-lg {
    line-height: 2.233333;
    font-size: 18.46px;
    width: 100%;
}
.bbe-news-date {
    line-height: 5;
    padding-left: 0px;
}
.bbe-awesome-technology [class*="col-"] {
    float: none;
    display: inherit;
    vertical-align: top;
    padding: 0 30px;
}
.bbe-client-title .btn-lg {
    border: 2px solid #fff;
    color: #fff;
    margin-left: 0px;
    margin-bottom: 50px;
}
}

@media (max-width: 768px){
	
/* Make Awesome Boxes Mobile Friendly */

.bbe-awesome-technology [class*="col-"] {
    float: none;
    display: inherit;
    vertical-align: top;
    padding: 0 70px;
}
.technology .bbe-thumbnail {
    float: left;
    margin: 0px auto;
    width: 50%;
}
}
