/*
FONTS
*/

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AntennaCond-Bold';
  src: url('../fonts/AntennaCond-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AntennaCond-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AntennaCond-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AntennaCond-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AntennaCond-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AntennaCond-Regular';
  src: url('../fonts/AntennaCond-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AntennaCond-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AntennaCond-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AntennaCond-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AntennaCond-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/*
OVERIDES
*/
    
/*
Colours
    #1b7cff - blue
    #00d8b2 - green
    #efefef - grey (background)
    #090a0a - black (text)
    #ddd    - light grey (text muted)
*/

body {
  font-family: 'Montserrat-Regular', sans-serif;
}

/* Buttons */
.btn {
    font-family: 'Montserrat-Bold', sans-serif;
    border-radius: 0px;  
    border: none; 
}

.btn-lg {
    line-height: 2.233333;
    font-size: 18.46px;
}

.btn-primary {
    background-color: #1b7cff;
    color: #fff;
}

.btn-info {
    background: transparent;
    border: 2px solid #1b7cff;
    color: #1b7cff;
    margin-top: 40px;
    margin-bottom: 40px;   
}

.btn-success {
    background-color: #00d8b2;
} 
/* Buttons */

/* Typography */
h1 {
    margin-top: 80px;
    font-family: 'AntennaCond-Bold', sans-serif;
    color: #1b7cff;
}

h2 {
    font-family: 'AntennaCond-Bold', sans-serif;
    color: #1b7cff;
}

h3 {
    font-size: 28px;
    font-family: 'AntennaCond-Bold', sans-serif;
    color: #1b7cff;
}

.text-primary {
    color: #090a0a;
    font-size: 20px;
    line-height: 30px;
}

.text-primary-reverse {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.text-info {
    color: #090a0a;
    font-size: 18px;
    line-height: 28px;
}

.text-muted {
    font-size: 16px;
    line-height: 26px;
    color: #ddd;
}

/* Typography */

/* Modal Popup */
	
.modal {
  top: 40px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom: 0px;
}

/* Modal Popup */

/* Navigation */
.navbar {
    background-color: #fff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
    color: #1b7cff;
    border-radius: 0;
}

.navbar .fa {
    color: #000;
}

.navbar-brand {
    font-family: 'AntennaCond-Bold', sans-serif;
    color: #1b7bff;
}

.nav>li>a {
    padding: 15px 10px;
    color: #1b7bff;
}

.icon-bar {
    background-color: #1b7cff;
}

@media (min-width: 768px) {
    #navbar {
        float: right;
    }
}

/* Navigation */

/* Jumbotron */

.jumbotron {
    padding-top: 80px;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 500px;
}
    
.jumbotron .h1, .jumbotron h1 {
    font-size: 46px;
    line-height: 50px;
    margin-top: 20px;
    color: #1b7cff;
    font-family: 'AntennaCond-Bold', sans-serif;
}

.jumbotron span {
    line-height: 40px;
}

.bbe-awesome-image {
    background: url('../images/awsome_image.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

/* Jumbotron */

/* CTA Build more awesome */
.high-velocity {
    background-color: #efefef;
}

.cta {
    background-color: #1b7cff;
    min-height: 60px;
    color: #fff;
}

.cta .bbe-cta-title {
    margin-right: 12px;
}

.high-velocity .row:first {
    height: 100%;
}
/* CTA Build more awesome */

/* High velocity */

.bbe-high-velocity {
    margin-bottom: 80px;   
}

.bbe-thumbnail {
        height: 180px;
        width: 180px;  
}

.img-technology {
    background: url('../images/mantras.jpg') no-repeat -40px 0px;
}

.img-methodology {
    background: url('../images/mantras.jpg') no-repeat -313px 0px;
}

.img-infrastructure {
    background: url('../images/mantras.jpg') no-repeat -584px 0px;
}

.img-culture {
    background: url('../images/mantras.jpg') no-repeat -854px 0px;
}

.bbe-high-velocity-content {
    display: none;
}

.bbe-high-velocity .technology .bbe-high-velocity-technology,
.bbe-high-velocity .methodology .bbe-high-velocity-methodology,
.bbe-high-velocity .infrastructure .bbe-high-velocity-infrastructure,
.bbe-high-velocity .culture .bbe-high-velocity-culture {
    display: block;
}

/* High velocity */


/* Earth Quote */

.bbe-earth-image {
    background: url('../images/earth_image.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
}

.bbe-earth-image h1 {
    color: #fff;
    font-size: 36px;
    margin-top: 130px;
}

/* Earth Quote */

/* Our Team */
.bbe-team {
    margin-bottom: 80px;    
}

.bbe-team h3 {
    margin-top: 0;
    font-size: 20px;
}

.bbe-team .bbe-team-para2 {
    margin-top: 60px;
}
.bbe-team .bbe-team-cta {
    background-color: #1b7cff;
}

.bbe-team .text-info {
    margin-bottom: 35px;
}

.bbe-team .fa {
    color: #1b7cff;
}

.bbe-team .btn-lg {
    line-height: 11.233333;
}
/* Our Team */

/* Client logos */
.bbe-client-logo .bbe-client-title {
    background-color: #1b7cff;
    min-height: 220px;  
}

.bbe-client-logo .bbe-client-title h3 {
     font-size: 22px;
     color: #fff;  
     padding-top: 62px;
}

/*.bbe-client-logo .bbe-logos {
    overflow-x: auto;
    padding-top: 62px;
}*/

.bbe-logos {
    position: relative;
    min-height: 200px;
}


#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 70%;
  height: auto;
}
/*.bbe-logos .item {
    position: absolute;
}*/

/* Client logos */

/* Our work */

.bbe-our-work {
    margin-bottom: 80px;
}

/* Our work */

/* Awesome technology */
.bbe-awesome-technology .bbe-awesome-technology-banner {
    background-color: #1b7cff;
    color: #fff;
}

.bbe-awesome-technology .bbe-awesome-technology-banner div {
    padding-bottom: 40px;
}

.bbe-awesome-technology .bbe-awesome-technology-banner h1,
.bbe-awesome-technology .bbe-awesome-technology-banner p {
    color: #fff;
}

.bbe-awesome-technology .bbe-awesome-technology-banner h1 {
    margin-top: 40px;       
}

.bbe-awesome-technology .col-sm-4:nth-child(odd) {
    background-color: #efefef;
}

.bbe-awesome-technology .row {
    display: table;
}

.bbe-awesome-technology [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding: 0 70px;
}


/* Awesome technology */

/* Latest news */

.bbe-latest-news {
    margin-bottom: 80px;
}

.bbe-latest-news .bbe-news {
    background-color: #efefef; 
}

.bbe-news-content h4 {
    font-size: 14px;
}

.bbe-news-content p.text-primary {
    font-size: 18px;
}

.bbe-news-content p.text-info {
    font-size: 14px;
}

.bbe-latest-news .bbe-news-image-1 {
    background: url('../images/newsimages.jpg') no-repeat -10px 0px;
    height: 243px;
}

.bbe-latest-news .bbe-news-image-2 {
    background: url('../images/newsimages.jpg') no-repeat -415px 0px;
    height: 243px;
}

.bbe-latest-news .bbe-news-image-3 {
    background: url('../images/newsimages.jpg') no-repeat -812px 0px;
    height: 243px;
}

.bbe-news-content {
    padding: 20px;
}

.bbe-news-date {
    line-height: 3.733333;
    padding-left: 20px;
}

.bbe-latest-news .text-muted {
    font-size: 11px;
}

/* Latest news */

.bbe-footer {
    background-color: #090a0a;
    padding: 40px 0px;
}

.bbe-footer .text-muted {
    font-size: 14px;
}

.bbe-footer-base {
    min-height: 40px;
    background-color: #333;
    color: #fff;
    padding-top: 10px;
}

/* Modal Form */

.bbe-form-popup .modal-content {
    background-color: #1b7cff;
}

.bbe-form-popup h2,
.bbe-form-popup p,
.bbe-form-popup a,
.bbe-form-popup span {
    color: #fff;
}

.bbe-form-popup .form-group {
    margin-top: 20px;
}

.bbe-form-popup .form-control {
    border-radius: 0;   
}

.bbe-form-popup .input-lg {
    height: 60px;
    color: #1b7cff; 
    font-weight: bold;
    margin: 7px 0;
}

.bbe-form-popup span.text-primary {
    color: #fff;
    padding-top: 20px;
    font-weight: bold;
}

.bbe-form-popup .bbe-form-message {
    padding-top: 20px;
}

.bbe-form-popup .form-control::-webkit-input-placeholder { color: #1b7cff; font-weight: bold; }
.bbe-form-popup .form-control:-moz-placeholder { color: #1b7cff; font-weight: bold; }
.bbe-form-popup .form-control::-moz-placeholder { color: #1b7cff; font-weight: bold;}
.bbe-form-popup .form-control:-ms-input-placeholder { color: #1b7cff; font-weight: bold;}
/* Modal Form */


@media (max-width: 768px){
	
/* Make Awesome Boxes Mobile Friendly */

.bbe-awesome-technology [class*="col-"] {
    float: none;
    display: inherit;
    vertical-align: top;
    padding: 0 70px;
}
}
